.lt_category_left {
  float: left;
  width: 90px;
  height: 100%;
  background-color: skyblue;
  position: relative;
}
.lt_category_left li a {
  width: 90px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
}


.lt_category_right {
  height: 100%;
  overflow: hidden;
  background-color: orange;
  position: relative;
}

